# Gradle
.gradle
assembly
build
gradlew.bat

# IDEA
.idea
.shelf
out
*.ipr
*.iml
*.iws

.settings
.classpath
.project

.env
.ideaDataSources/
dataSources/
node_modules/
package.json
package-lock.json
webpack.config.js
webpack.generated.js